# pixi environments
.pixi/*
!.pixi/config.toml

# scripts
scripts/archive

# data
data/

# results
results

#vscode
.vscode/*

# claude local settings
.claude/settings.local.json

# R
.Rhistory

.DS_Store